/*FONTE ROBOTO GOOGLE*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

a:hover {
    color: #725fb9;
}

p {
    margin-top: 14px;
    line-height: 25px;
    padding-left: 10px;
}

h1 {
    margin-bottom: 18px;
}

h2 {
    margin-bottom: 18px;
    margin-top: 18px;
    padding-left: 5px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 18px;
    padding-left: 5px;
    font-style: italic;
}

li {
    margin: 5px 0 5px 30px;
}

img {
    padding-left: 5px;
}

.italic {
    font-style: italic;
}

.duas_img {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}

.container_index {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #f5f5f5;
    z-index: 0;
}

.header_menu {
    width: 100%;
    height: 50px;
    border-bottom: #e4e4e4 solid 0.1px;
    position: fixed;
    background-color: #ffffff;
    z-index: 2;
}

.footer {
    width: 100%;
    height: 30px;
    border-top: #e4e4e4 solid 0.1px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
}

.main_section {
    display: flex;
    width: 100%;
    max-width: 1400px;
    background-color: #ffffff;
    min-height: 91vh;
}

.menu_lateral {
    border-right: #e4e4e4 solid 0.1px;
    border-radius: 5px;
    padding: 0 10px 30px 0;
    width: 35%;
}

.menu {
    margin-top: 20px;
}

.conteudo_iframe {
    width: 100%;
    padding: 25px 10px 23px 20px;
}

.overflow::-webkit-scrollbar {
    display: none !important;
}

.iframe_home {
    border: none;
    width: 100%;
    height: 100%;
}

.menu_list1 {
    margin-left: 20px;
    margin-bottom: 10px;
}

.menu_list2 {
    margin-left: 25px;
    margin-bottom: 10px;
}

.topo_lista {
    margin-top: 20px;
}

.import_icon {
    display: flex;
    gap: 10px;
    align-items: center;    
}

.import_icon i {
    font-family: fontawesome;
    font-size: 20px;
}

img {
    padding-top: 20px;
}

.container_tags {
    display: flex;
    margin-right: 10px;
    gap: 50px;
    border-top: #e4e4e4 solid 0.1px;
    margin-top: 8px;
    width: 100%;
}

.container_tags div {
    width: 100%;
}

.container_tags h3 {
    margin-top: 4px;
}

.container_tags li {
    margin-left: 12px;
    cursor: pointer;
}

.container_tags li:hover {
    text-decoration: underline;
}

.container_tags li {
    font-style: italic;
}

.tabela_de_atributos {
    margin-top: 20px;
}

.tabela tr, .tabela td, .tabela th{
    border-bottom: #e4e4e4 solid 0.1px;
    padding: 5px;
    font-size: 12px;
}

.tabela {
    border: #e4e4e4 solid 0.1px;
}

.tabela td {
    border-left: #e4e4e4 solid 0.1px;
}

.menu_lateral .accordion-item {
    border: none;
}

.menu_lateral .accordion-button {
    padding: 0;
}

.menu_lateral .accordion-header {
    margin: 0;
}

.menu_lateral .accordion-body {
    padding: 0 0 0 20px;
}

.accordion-button:not(.collapsed) {
    background-color: #ffffff;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.tres_img {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.mini_img img {
    height: 50px;
}

.duas_img_g {
    display: flex;
    gap: 5px;
}